autostart
bspwm
cef_user_data
dconf
enchant
eog
evolution
Exodus
geary
gedit
GIMP
gnome-controll-center
gnome-initial-setup-done
gnome-session
goa-1.0
google-chrome
gtk.*
gtk-2.0
gtk-3.0
guake
ibus
JetBrains
libreoffice
lutris
menus`
mimeapps.list
monitors.xml
monitors.xml~
nautilus
nextjs-nodejs
obs-studio
pavucontrol.ini
pop-shell
pulse
qalculate
QtProject.conf
Raspberry Pi
sxhkd
totem
touchegg
inity3d
Unknown Organization
users-dirs.dirs
users-dirs.locale
vlc/
vivaldi
zoomus.conf

