autostart
bspwm
cef_user_data
dconf
enchant
eog
evolution
Exodus
geary
gedit
GIMP
gnome-controller-center
gnome-initial-setup-done
gnome-session
goa-1.0
google-chrome
gtk.*
guake
ibus
JetBrains
libreoffice
lutris
menus`
mimeapps.list
monitors.xml.*
nautilus
nextjs-nodejs
obs-studio
pavucontol.ini
pop-shell
pulse
qalculate
QtProject.conf
'Raspberry Pi'
sxhdk
totem
touchegg
inity3d
'Unknown Organization'
users-dirs.*
vivaldi

